.home-page {
  margin-top: 20px;
  min-height: 100vh;


  .canvas-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;

    @include mobile {
      display: block;
    }

    .canvas-content {
      cursor: pointer;
      padding: 20px;
      margin: 0 20px;
      width: clamp(280px, 50%, 30vw);
      height: 40vh;
      box-shadow: #343434 0px 2px 8px;
      background-color: transparent;
      border-radius: 20px;
      position: relative;
      border: 3px solid #bdc3c7;
    }

    .info-text {
      margin: 0 2em;
      text-align: justify;
      width: clamp(50ch, 30%, 100ch);
      font-size: 1em;
    }
  }



}