.home-page {
  padding-top: 120px;
  min-height: 100vh;
  background-color: #e8e8e8;

  .canvas-content {
    display: flex;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    align-items: center;
    canvas {
      cursor: pointer;
    }
  }
  .info-text{
    text-align: justify;
    max-width: 100ch;
    font-size: 1em;

  }

}